@import "breakpoint";
@import "toolkit";
@import "toolkit/kickstart";

$max-width: 1024px;

html {
  font-family: sans-serif;
  font-size: 1em;
  @include breakpoint(558px) {
    font-size: 1.15em;
  }
  @include breakpoint(692px) {
    font-size: 1em;
  }
  @include breakpoint(951px) {
    font-size: 1.15em;
  }
  line-height: 1.618em;
}

body > footer {
  clear: both;
}

.roles {
  list-style-type: none;
}

.roles--display {
  > span {
    display: inline-block;
    float: left;
  }
  > span:nth-child(4) {
    display: inline-block;
    float: left;
    clear: both;
  }
}

._main {
  max-width: $max-width;
  margin: 0 auto;
}

._main--primary {
  @include breakpoint(692px) {
    width: 60%;
    float: left;
  }
  @include breakpoint(951px) {
    width: 1 / 1.618 * 100%;
  }

}

.main--secondary {
  @include breakpoint(692px) {
    width: 40%;
    float: right;
  }
  @include breakpoint(951px) {
    width: (1 - 1 / 1.618) * 100%;
  }

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

header {
  line-height: 1em;
  @include clearfix;
  > h1 {
    width: 50%;
    float: left;
  }
  > h3 {
    width: 50%;
    float: right;
    text-align: right;
  }
}

main {
  display: block;
}

.save {
  float: right;
}

input[ng-model="project.name"] {
  width: 100%;
  font-size: 1.5em;
  border: none;
  text-align: center;
}
