//////////////////////////////
// Intake Center
//////////////////////////////

////////////////////////////
// Cross Browser Support
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "31",
  "safari": "5",
  "firefox": "25",
  "ios-safari": "6.0-6.1",
  "android-chrome": "0"
);
////////////////////////////

////////////////////////
// Compass Imports
@import "compass";
@import "compass/reset";
////////////////////////

////////////////////////
// Compass Extensions
@import "toolkit";
@import "toolkit/kickstart";
@import "breakpoint";
@import "singularitygs";
@import "modular-scale";
@import "color-schemer";
////////////////////////

//////////////////////////////
// GLOBALS
@import "partials/global/variables";
@import "partials/global/functions";
@import "partials/global/mixins";
@import "partials/global/extends";
//////////////////////////////

//////////////////////////////
// COMPONENTS

//////////////////////////////

//////////////////////////////
// LAYOUTS

//////////////////////////////


$max-width: 1024px;

html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1em;
  @include breakpoint(558px) {
    font-size: 1.15em;
  }
  @include breakpoint(692px) {
    font-size: 1em;
  }
  @include breakpoint(951px) {
    font-size: 1.15em;
  }
  line-height: 1.618em;
}

body > footer {
  clear: both;
}

.roles {
  list-style-type: none;
}

.roles--display {
  > span {
    display: inline-block;
    float: left;
  }
  > span:nth-child(4) {
    display: inline-block;
    float: left;
    clear: both;
  }
}

._main {
  max-width: $max-width;
  margin: 0 auto;
}

._main--primary {
  @include breakpoint(692px) {
    width: 60%;
    float: left;
  }
  @include breakpoint(951px) {
    width: 1 / 1.618 * 100%;
  }

}

.main--secondary {
  @include breakpoint(692px) {
    width: 40%;
    float: right;
  }
  @include breakpoint(951px) {
    width: (1 - 1 / 1.618) * 100%;
  }

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-weight: 500;
}

header {
  line-height: 1em;
  @include clearfix;
  > h1 {
    width: 50%;
    float: left;
  }
  > h3 {
    width: 50%;
    float: right;
    text-align: right;
  }
}

main {
  display: block;
}

.save {
  float: right;
}

input[ng-model="project.name"] {
  width: 100%;
  font-size: 1.5em;
  border: none;
  text-align: center;
}

._columns {
  @include column-count(2);
}

._columns > label {
  display: block;
}


// .overlay {
//   @include absolute-center($fixed: true);
//   padding: .5rem;
//   background: white;
//   border: 1px solid black;
//   min-width: 300px;
//   max-height: 80vh;
//   overflow-y: auto;
//   z-index: 1;
//   box-shadow: 0 0 2em .25em rgba(black, .5);
// }
