<h2>Roles</h2>
<footer>From <a href="http://pointnorth.io/#roles-and-responsibilities">Roles and Responsibilities</a></footer>
<p>In any given project, there are a variety of roles that each play a part in the success of a project. Capturing the roles of each individual working on a project, and their responsibilities, is an important part of understanding the dynamics of a project team. There are five main groupings of roles:</p>
<ul>
  <li><strong><a href="http://pointnorth.io/#product-owner">Product Owner</a></strong> - The individual tasked with making decisions for the project on behalf of the commissioning party</li>
  <li><strong><a href="http://pointnorth.io/#project-manager">Project Manager</a></strong> - The individual in charge of ensuring the product design and development cycle is being kept on track</li>
  <li><strong><a href="http://pointnorth.io/#designer">Designer</a></strong> - The individual(s) tasked with creating the visual and user experience designs for a project</li>
  <li><strong><a href="http://pointnorth.io/#developer">Developer</a></strong> - The individual(s) tasked with creating code to power a project</li>
  <li><strong><a href="http://pointnorth.io/#quality-assurance">Quality Assurance</a></strong> - The individual(s) tasked with ensuring design and code are ready for production</li>
</ul>
<p>Each project may have multiple roles filled by the same individual. It is important that the number of individuals working on a given project does not get too large and changes as little as possible during the lifespan of a project, otherwise, as per <a href="http://pointnorth.io/#brooks-s-law">Brook's Law</a>, ramp-up time and communication overhead will increase exponentially.</p>