<article class="base--STYLED _main--primary">
  <h2>Welcome to Intake.Center</h2>

  <p>Intake Center is a tool by the creator of <a href="http://pointnorth.io">North</a> to assist in the project intake process, especially around North's <a href="http://pointnorth.io/#content-strategy">Content Strategy</a> section. Every project, from small brochure sites to large webapps all have a core set of intake requirements that need to be determined before development work can begin. Designed as the deliverable for these core requirements, Intake Center aims to make it easy to ensure these deliverables for Content Strategy are complete and available before development starts. To start, please enter your Project's Name:</p>

  <input type="text" ng-model="project.name"  placeholder="Project's Name">

  <p>Intake Center is divided into four sections that should be done in succession:</p>

  <ol>
    <li>Vision Statement - (from <a href="http://pointnorth.io/#project-vision">Project Vision</a>)</li>
    <li>User Personas - (from <a href="http://pointnorth.io/#user-personas">User Personas</a>)</li>
    <li>Content Models - (from <a href="http://pointnorth.io/#content-modeling">Content Modeling</a>)</li>
    <li>Information Architecture - (from <a href="http://pointnorth.io/#information-architecture">Information Architecture</a>)</li>
  </ol>

<!--   <p>Intake Center's Project Roles (from <a href="http://pointnorth.io/#roles-and-responsibilities">Roles and Responsibilities</a>) section should be built up as the team to create a project is ready. It will most likely start with the <a href="http://pointnorth.io/#product-owner">Product Owner</a> and <a href="http://pointnorth.io/#project-manager">Project Manager</a> roles, as well as any other roles that are needed initially. As other team members become available and are added to the project, their roles and responsibilities should be included.</p>

  <p>Neither <a href="http://pointnorth.io/#content-inventory">content inventory</a> nor <a href="http://pointnorth.io/#content-audit">content audit</a> are direct deliverables and as such, they are not included in this tool; however, they should absolutely still be completed prior to Content Modeling in order to get an understanding of a project's content for the Content Models.</p> -->
</article>

<aside class="base--STYLED _main--secondary">
  <h2>Working with Intake.Center</h2>

  <p>Intake Center will save all work done automatically to this computer. This is a local copy and is constrained to the browser the changes are being made in. Changes can be exported to be shared and imported to be worked on by doing the following:</p>
  <ul>
    <li><strong>Export</strong> - The Export button will export all of your current changes to a <code>.intake</code> file that can be shared</li>
    <li><strong>Import</strong> - The Import button will read in a <code>.intake</code> file and replace the current app's state with the state from the file</li>
    <li><strong>PDF</strong> - The PDF button will create a formatted PDF that you can download and share</li>
  </ul>
</aside>
