<h2>New {{type.label}}</h2>

<form name="schemaEdit" class="_main--primary">
  <!-- Basic Information -->
  <div ng-show="step === 'basic'">
    <h3>Basic Info</h3>
    Title:
    <input type="text" ng-model="schema.title" placeholder="{{type.label}}">
    Description:
    <input type="text" ng-model="schema.description">
  </div>

  <!-- Attributes -->
  <div ng-show="step === 'attributes'">
    <h3>Attributes</h3>
    <input type="search" ng-model="search.attributes" placeholder="Search">
    <div class="_columns">
      <label ng-repeat="property in properties | filter:search.attributes | orderBy:'label'">
        <input type="checkbox" ng-click="checkClick(property.id)" id="checkbox--{{property.id}}" ng-disabled="active"> {{property.label}}
      </label>
    </div>

  </div>

  <!-- Details -->
  <div ng-show="step === 'details'">
    <h3>Details</h3>
    <attributedetails ng-repeat="detail in schema.details">
    </attributedetails>
  </div>


  <div>
    <a href="#/schemaEdits">Cancel</a>
    <button ng-click="back()" ng-disabled="first">Back</button>
    <button ng-click="save()" ng-disabled="schemaEdit.$invalid">{{button}}</button>
    <button ng-click="destroy()"
          ng-show="remove">Delete</button>
  </div>

</form>

<div class="_main--secondary">
  <attributedetails ng-show="active"></attributedetails>
</div>
