<article class="form--STYLED _main--primary">
  <a class="form--save" href="#/vision/edit">Edit</a>
  <div class="form--row">
    <markdown class="base--STYLED" source="{{project.vision}}"></markdown>
  </div>
</article>
<aside class="base--STYLED _main--secondary">
  <h2>Vision Statement</h2>
  <footer>From <a href="http://pointnorth.io/#project-vision">Project Vision</a></footer>
  <p>Vision statement provide a single grounding point for all decisions needed to create a successful product. Vision statements help guide a project by answering the following questions:</p>
  <ul>
    <li>Who will use, buy, or consume the product?</li>
    <li>Who is the target customer?</li>
    <li>Who will administer and maintain the product?</li>
    <li>What needs will the product address?</li>
    <li>What attributes are critical to success?</li>
    <li>How does the product compare with existing products?</li>
    <li>What are the unique selling points?</li>
  </ul>
</aside>