<article class="form--STYLED _main--primary">
  <a class="form--save" href="#/vision">View</a>
  <div class="form--row">
    <label for="">Vision Statement</label>
    <textarea ng-model="project.vision"></textarea>
    <label for="">Notes</label>
    <textarea ng-model="project.notes" cols="30" rows="10"></textarea>
  </div>

</article>
<aside class="base--STYLED _main--secondary">
  <h2>Vision Statement</h2>
  <footer>From <a href="http://pointnorth.io/#project-vision">Project Vision</a></footer>
  <p>Vision statement provide a single grounding point for all decisions needed to create a successful product. Vision statements help guide a project by answering the following questions:</p>
  <ul>
    <li>Who will use, buy, or consume the product?</li>
    <li>Who is the target customer?</li>
    <li>Who will administer and maintain the product?</li>
    <li>What needs will the product address?</li>
    <li>What attributes are critical to success?</li>
    <li>How does the product compare with existing products?</li>
    <li>What are the unique selling points?</li>
  </ul>
</aside>