<!doctype html>
<html lang="en" ng-app="intakeApp">
<head>
  <meta charset="UTF-8">
  <title>Intake</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-local-storage/angular-local-storage.min.js"></script>

  <script src="js/app.js"></script>
</head>
<body>
  <header ng-controller="IntakeHeader">
    <h1><span>Intake</span> <span>Center</span></h1>
    <h3>{{client.name || '&nbsp'}}</h3>
    <div class="save">
      <button ng-click="IntakeDownload()">Export</button>
      <import></import>
    </div>
  </header>
  <main>


    <div ng-controller="IntakeClientName">
      <label>Name:</label>
      <input type="text" ng-model="client.name"  placeholder="Client's Name">
    </div>
<!--
    <div ng-controller="IntakeContentModelCtrl">
      Search: <input type="search" ng-model="query">
      <ul>
        <li ng-repeat="type in types | schemaTypeFilter:query">
          <h4>{{type.label}}</h4>
        </li>
      </ul> -->

    </div>
  </main>


  <footer>
    <small>Webapp for assisting with the Content Strategy process of <a href="http://pointnorth.io">North</a></small>
  </footer>
</body>
</html>
