$primary: #fede32;
$black: #3c3c3c;
$hard: #101010;
$white: #fff;
$secondary: #592ad5;
$tertiary: #fe4432;

$background: $primary;
$foreground: $black;
$form: mix($white, $black, 97.5%);
$thin: mix($white, $black, 80%);

$px: .0625em;
$padding: .25rem .5rem;
