@import "banner/extends";

.banner {
  @extend %banner;

  &--companion {
    float: left;
    text-transform: lowercase;
    font-size: .75em;
    line-height: 1em;
  }

  &--project {
    float: left;
    line-height: 1em;
    margin-top: .5rem;
    margin-bottom: .5rem;

    @include breakpoint(625px) {
      float: right;
      margin-top: -.975em;
      max-width: 50%;
      text-align: right;
    }
  }

  &--wrapper {
    clear: both;
    @include breakpoint(625px) {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  &--actions {
    float: left;
    clear: both;


    @include breakpoint(625px) {
      float: right;
      // margin-top: -2em;
    }

    [ng-click="IntakeDownload()"] {
      float: right;
      @include button($secondary);
      @include breakpoint(543px) {
        font-size: .75em;
      }
      color: $white;
      display: inline-block;
      &:before {
        @extend %icon;
        content: 'export';
        color: $primary;
        padding-right: .5em;
        display: inline-block;
        // margin-bottom: -.15em;
      }
    }
    [name="importFileStart"] {
      float: right;
      @include button($primary);
      @include breakpoint(543px) {
        font-size: .75em;
      }
      display: inline-block;
      &:before {
        @extend %icon;
        content: 'import';
        color: $secondary;
        padding-right: .5em;
        display: inline-block;
        // margin-bottom: -.15em;
      }
    }
  }

  &--nav {
    float: left;
    clear: both;
    width: 100%;
    @include breakpoint(476px) {
      text-align: center;
    }

  }

  &--nav-item {
    color: $secondary;
    text-decoration: none;
    margin: 0 .5em;
  }
}

.wordmark {
  $start-font-size: 2.5rem;
  $end-font-size: 6.58102rem;
  $min: 400px;
  $max: 2560px;
  $diff: ($max - $min) / 1px / 20;
  $fontDiff: ($end-font-size - $start-font-size) / ($diff);

  font-size: 2.5rem;
  line-height: 1em;

  @for $i from 1 through $diff {
    @include breakpoint($min + ($i * 20px)) {
      font-size: $start-font-size + ($fontDiff * $i);
    }
  }

  text-decoration: none;
  display: inline-block;
  color: $secondary;

  font-family: 'homestead-regular', $serif;

  @extend %icon;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;

  @include breakpoint(2256px) {
    font-family: 'homestead-one';

    &:before {
      content: 'intake.center';
      text-transform: uppercase;
      font-family: 'homestead-two', $serif;
      color: mix($black, $primary, 10%);
      position: absolute;
      top: -0.065em;
      left: 0;
    }
    &:after {
      content: 'intake.center';
      text-transform: uppercase;
      font-family: 'homestead-three', $serif;
      color: mix($white, $primary, 10%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }


}