@import "banner/extends";

.banner {
  @extend %banner;

  &--companion {
    float: left;
    text-transform: lowercase;
    font-size: .75em;
    line-height: 1em;
  }

  &--project {
    float: left;
    line-height: 1em;
    margin-top: .5rem;
    margin-bottom: .5rem;

    @include breakpoint(625px) {
      float: right;
      margin-top: -.975em;
      max-width: 50%;
      text-align: right;
    }
  }

  &--wrapper {
    clear: both;
    @include breakpoint(625px) {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  &--actions {
    float: left;
    clear: both;


    @include breakpoint(625px) {
      float: right;
      // margin-top: -2em;
    }

    [ng-click="IntakeDownload()"],
    [name="importFileStart"] {
      float: right;
      @include button($secondary);
      @include breakpoint(543px) {
        font-size: .75em;
      }
      color: $white;
      display: inline-block;
      &:before {
        @extend %icon;
        content: 'export';
        color: $primary;
        padding-right: .5em;
        display: inline-block;
        // margin-bottom: -.15em;
      }
    }

    [name="importFileStart"]:before {
      content: 'import';
    }
  }

  &--nav {
    float: left;
    clear: both;
    width: 100%;
    @include breakpoint(476px) {
      text-align: center;
    }

  }

  &--nav-item {
    font-family: 'ostrich', $sans;
    color: $hard;
    text-decoration: none;
    margin: 0 .5em;
    letter-spacing: .1em;
  }
}

.wordmark {
  $start-font-size: 2.5rem;
  $end-font-size: 6.58102rem;
  $min: 400px;
  $max: 2560px;
  $diff: ($max - $min) / 1px / 20;
  $fontDiff: ($end-font-size - $start-font-size) / ($diff);

  font-size: 2.5rem;
  line-height: 1em;

  @for $i from 1 through $diff {
    @include breakpoint($min + ($i * 20px)) {
      font-size: $start-font-size + ($fontDiff * $i);
    }
  }

  text-decoration: none;
  display: inline-block;
  color: $hard;

  font-family: 'ostrich-wordmark', $serif;

  @extend %icon;
  text-transform: uppercase;

  &--a {
    margin-left: -.10em;
  }
}

span[class*="wordmark--"] {
  display: inline-block;
  margin-right: .1em;
}