//////////////////////////////
// Form Component
//
// The partial and folder structure for this component should be as follows:
// _form.scss
// form (folder)
//   _extends.scss
//   _mixins.scss
//   _variables.scss
//
// Automatic Sass parsing is done through special comment blocks
//  - Start styling block for base component: @{component}
//  - End styling block for base component:   {component}@
//
//  - Start styling block for specific component aspect: @{component--aspect}
//  - End styling block for specific component aspect:   {component--aspect}@
//////////////////////////////

@import "form/variables";
@import "form/mixins";
@import "form/extends";

//////////////////////////////
// @{form}
// Styling for Form Component
.form {
  &--cancel {
    float: left;
    @include button($thin);
  }
  &--save {
    float: right;
    @include button($primary);
    &[disabled] {
      background: mix($white, $primary, 70%);
      cursor: not-allowed;
    }
  }
  &--destroy {
    float: right;
    @include button($tertiary);
  }
  &--edit,
  &--view {
    @extend %icon;
    font-size: .75em;
    margin: {
      left: .25em;
      right: .25em;
    }
  }

  &--imagedrop {
    height: 200px;
    width: 200px;
    border: 1px solid $thin;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    margin: 0 auto;
    @include breakpoint(692px) {
      float: left;
    }


    &:not([data-state]):before {
      content: 'Drop Image Here';
      display: inline-block;
      @include absolute-center($fixed: true);
      position: relative;

    }
  }

  @include breakpoint(692px) {
    &--floated {
      padding-left: 1em;
      padding-top: 0;
      width: calc(100% - 200px);
      float: right;
      clear: right;
    }

    &--cleared {
      clear: both;
    }
  }
}
// {form}@
//////////////////////////////


//////////////////////////////
// @{form--styled}
// Styled styling for Form Component
.form--STYLED {

  label {
    display: block;
    text-transform: lowercase;
    line-height: 1em;
  }

  textarea {
    display: block;
    width: 100%;
    background: $form;
    margin-bottom: 2em;

    max-width: 100%;
    min-height: 8em;

    font-size: .75em;
  }

  input {

    &[type="text"],
    &[type="search"],
    &[type="email"] {
      display: block;
      width: 100%;
      max-width: 100%;
      background: $form;
      margin-bottom: 1em;
      font-size: .75em;
    }

    &[ng-model="project.name"] {
      font-size: 1.5em;
      width: 100%;
      border: none;
      text-align: center;
      background: transparent;
    }
  }

}

.ng-valid-required {
  border-color: $secondary;
}

.ng-invalid {
  border-color: $tertiary;
}
// {form--styled}@
//////////////////////////////

