.north {
  @extend %icon;
  font-size: 1.25em;

  color: $black;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;

  text-align: left;
  display: inline-block;

  font-family: 'homestead-regular', $serif;

  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;

  &:hover {
    @include scale(1.05);
  }

  &:before {
    @extend %icon;
    color: $hard;
    content: 'north';
    padding-right: .16em;
    @include translateY(.119402985em);
  }
}